# Strapi
HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
JWT_SECRET=tobemodified

# Database
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=tobemodified

# Meilisearch
MEILI_MASTER_KEY=tobemodified
MEILI_HTTP_PROTOCOL=http
MEILI_HTTP_ADDR=localhost:7700
MEILI_DB_PATH=.tmp/data.ms

# Netlify Build Hook
NETLIFY_SITE_NAME="A11y Netlify Front End"
NETLIFY_PERSONAL_ACCESS_TOKEN=tobemodified_pat
NETLIFY_SITE_ID=tobemodified_uuid
NETLIFY_BUILD_HOOK_URL="https://api.netlify.com/build_hooks/this_part_changes"
NETLIFY_GIT_BRANCH="main"
