# Strapi
HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
JWT_SECRET=tobemodified

# Database
DATABASE_CLIENT=sqlite
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=tobemodified

# Meilisearch
MEILI_MASTER_KEY=tobemodified
MEILI_HTTP_PROTOCOL=http
MEILI_HTTP_ADDR=localhost:7700
MEILI_DB_PATH=.tmp/data.ms

# Vercel Build Hook
VERCEL_HOOK_URL="https://api.vercel.com/v1/integrations/deploy/prj_asdasdasd/asdasdasdasd"
VERCEL_API_TOKEN="tobemodified"
VERCEL_APP_FILTER="appname-tobemodified"
